* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}

.navbar {
  background-color: #0f1111;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo {
  height: 50px;
  width: 100px;
}

.logo {
  background-image: url(assets/amazon_logo.png);
  height: 50px;
  width: 100%;
  background-size: cover;
}

.border {
  border: 2px solid transparent;
}

.border:hover {
  border: 2px solid white;
}

/* Box 2 styleing */

.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}

.add-second {
  color: #ffffff;
  font-size: 1rem;
  margin-left: 3px;
}

.add-icon {
  display: flex;
  align-items: center;
}

/* Box 3 */

.nav-search {
  display: flex;
  background-color: pink;
  width: 620px;
  height: 40px;
  border-radius: 4px;
  justify-content: space-evenly;
}

.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #febd68;
  font-size: 1.2rem;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #0f1111;
}

.nav-search:hover {
  border: 2px solid orange;
}

/*  Box 4 */
span {
  font-size: 0.7rem;
}

.nav-second {
  font-size: 0.85rem;
  font-weight: 700;
}

/* Box 5 */
/* i means providing style for all icons in this class */
.nav-cart i {
  font-size: 35px;
}

.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
}

/* panel under the navbar style */

.panel {
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}

.panel-ops p {
  display: inline;
  margin-left: 15px;
}

.panel-ops {
  width: 70%;
  font-size: 0.85rem;
  font-weight: 700;
}

.panel-deals {
  height: 37px;
  width: 400px;
  background-image: url(assets/panel_deals_image.jpg);
  background-size: cover;
  display: inline;
}

/* hero section */

.hero-section {
  background-image: url(assets/hero_image.jpg);
  background-size: cover;
  height: 400px;
}

/* shop section style */

.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f7f6f5;
}

.box {
  border: 2px solid white;
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
}

.box-image {
  height: 300px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.box-content {
  margin-left: 10px;
  margin-right: 10px;
}

.box-content i {
  font-size: 1.3rem;
}

.box-content p {
  color: #007185;
}

/* Footer style */

footer {
  margin-top: 15px;
}

.footer-panel1 {
  display: flex;
  background-color: #37475a;
  color: white;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.footer-panel2 {
  background-color: #222f3d;
  color: white;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
}

ul {
  margin-top: 20px;
}

ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
}

/* 
.footer-panel3{
    background-color: #222f3d;
    color: white;
    border: 0.5px solid white;
    display: flex;
    justify-content: center;
}

.logo{
    background-image: url(amazon_logoo.png);
    height: 70px;
    width: 100px;
    background-size: cover;
} */

.footer-panel3 {
  background-color: #0f1111;
  color: white;
  height: 80px;
  font-size: 1rem;
  text-align: center;
}

.pages {
  padding-top: 25px;
}

.copyright {
  padding-top: 5px;
}
